
.homeTitle{
    text-align: center;
    font-family: "Italiana";
    font-size: clamp(1rem, 6vw,5rem);
    margin-top: 2%;
    font-weight: 600;
    color: #333333;
    padding: 5% 10%  0 10% ;
    letter-spacing: 0.1em;
}
.homeSubtitle{
    text-align: center;
    font-family: "Italiana";
    font-size: clamp(0.8rem, 3vw, 2rem);
    margin-top: 1%;
    font-weight: 600;
    color: #666666;
    letter-spacing: 0.1em;
    height: auto;
}
.CTAsection{
    height: 80vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-image: url("/public/images/mainpage/background.png");
    background-size: cover;
    background-color: #e4e3e3d7;
}
.slideContainer {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap:10%;
    padding: 5% 15% 5% 15%;
}
 
.Meetsection{
    height: 80vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-content: center;
}
.background_image{
    background-image: url("/public/images/Sobre/nobackground.png");
    background-size: cover;
    background-position:  center top;
    width: 100%;
}
.QuoteSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Quote{
    width: 60%;
    text-align: center;
    font-family: "Italiana";
    font-size: 22px;
}
/* ------ GRID DISPLAY -----*/

.imageGridHome {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, AUTO) ;
    gap:5%;
    padding: 5% 20% 5% 20%;
    
}


/* ------ GRID PHOTOS  -----*/

.gallery__item--1 {
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 2px 1px 8px 2px #a7a4a4;
}
.gallery__item--2 {
    grid-column-start: 3; 
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 2px 1px 8px 2px #a7a4a4;
}

.gallery__item--3 {
    grid-column-start: 1; 
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 2px 1px 8px 2px #a7a4a4;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 80%;
    box-shadow: 2px 1px 8px 2px #a7a4a4;
}

.gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 80%;
    box-shadow: 2px 1px 8px 2px #a7a4a4;
}
.gallery__item--6 {
    grid-column-end: 3;
    grid-column-start: 3; 
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
    right: 50%;
    width: 210%;
}


@media screen and (max-width: 800px){
    .imageGridHome {
        padding: 10% 5% 10% 5%;
}
}
