/*--------- FOOTER --------*/
.footer{
    background-color: lightgray;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,.3);
    display: flex;
    position: absolute;
    width: 100vw;
}

.footer-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Socialscontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding-top: 45px;
}
.SocialTitle-space{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.socialsTitle{
    padding-left: 20%;
    font-size: 20px;
}
.socialIcon{
    padding-right: 10em;
}

.rightsreserve-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.rightsreserve{
    font-size: 10px ;
    padding-bottom: 5px;
}
.footer i {
    font-size: 25px;
    color: #383838;
}
.footer i:hover{
    color: rgb(36, 34, 34)
}